name: Automatic testing
#on: workflow_dispatch
on:
  pull_request:
    branches: [ main ]

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout under $GITHUB_WORKSPACE
        uses: actions/checkout@v3

      - name: Setup MPI
        uses: mpi4py/setup-mpi@v1

      - name: Install stuff
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]       
 
      - name: Run tests
        run: pytest tests/vqs_test.py

      - name: Which branch?
        run: git status
